<%= link_to "Trainers", trainers_path %>
<h1><%= @trainer.name %> is going to catch'em all!</h1>
<%= @trainer.name %>
<%= @trainer.age %>
<% @pokemons.each do |pokemon| %>
  <%= pokemon.name %>
  <%= pokemon.element_type %>
  <%= cl_image_tag pokemon.photo.key %>
<% end %>
<%= cl_image_tag @trainer.photo.key %>
